---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Admin">
  <div class="prose">
    <h1>Admin</h1>
    <ul>
      <li><a href="/admin/manufacturer">Manufacturer candidates</a></li>
    </ul>
  </div>
</BaseLayout>
